<div class="user-details">
  <h1>About Me</h1>
  <p class="about">
    I am Ph.D student at <a class="link" target="_blank" href="https://limos.fr">Laboratoire d'Informatique de Modélisation et d'Optimisation des Systèmes (LIMOS)</a> at <a href="uca.fr">Université Clermont-Auvergne</a> in Network and Security departement.
    My current research is focused on distributed secure computations, where several agents communicate in order to produce a result without learn additional data.
  </p>
  <div class="seperator"></div>
  <p class="about">
    My Ph.D Supervisor is <a target="_blank" href="https://sancy.iut-clermont.uca.fr/~lafourcade/">Pascal Lafourcade</a> working at <a target="_blank" href="https://limos.fr">LIMOS</a> and my
    Co-Supervisors are <a href="https://lig-membres.imag.fr/ciucanu/">Radu Ciucanu</a> and <a href="https://lig-membres.imag.fr/soare/">Marta Soare</a>, working at 
    <a href="https://www.liglab.fr/en">Laboratoire d'Informatique de Grenoble (LIG)</a>.
  </p>
</div>



<div class="user-details">
  <h1>Publications</h1>
  <div class="papers">
    {% for paper in site.data.papers %}
      <div class="container paper">
        <div class="title">
          <div class="left">Title</div>
          <div class="right">
            {% if paper.link %}
              <a href="{{ paper.link}}">{{paper.title}} </a>
            {% else %}
                {{paper.title}}
            {% endif %}
            {% if paper.type %}
                <span class="type">({{paper.type}})</span> 
            {% endif %}
          </div>
        </div>
        {% if paper.conference %}
          <div class="venue">
            <div class="left">Conference</div>
            <div class="right">{{paper.conference}}</div>
          </div>
        {% endif %}
        {% if paper.journal %}
        <div class="venue">
          <div class="left">Journal</div>
          <div class="right">{{paper.journal}}</div>
        </div>
      {% endif %}
        <div class="authors">
          <div class="left">Authors</div>
          <div class="right">
            {% for authorId in paper.authors %}
              {% for author in site.data.authors %}
                {% if author.id == authorId %}
                  <span class="author">
                    <a href="{{author.url}}">{{ author.name }}</a>
                  </span>
                  
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
</div>

<div class="user-details" id="teaching">
  <h1>Teaching</h1>
  {% for teaching in site.data.teaching %}
  <div class="container event">
    <div class="title">
      <div class="left">Module</div>
      <div class="right">
        {{teaching.module}} -  {{teaching.type}}
      </div>
    </div>
    <div class="data">
      <div class="left">Students</div>
      <div class="right">
        {{teaching.students}}
      </div>
    </div>
    <div class="data">
      <div class="left">Hours</div>
      <div class="right">
        {{teaching.hours}}
      </div>
    </div>
  </div>
{% endfor %}
</div>

<div class="user-details">
  <h1>Events</h1>
  <div class="events">
    {% for event in site.data.events %}
        <div class="container event">
          <div class="title">
            <div class="left">Title</div>
            <div class="right">
              {{event.name}}
            </div>
          </div>
          <div class="title">
            <div class="left">Role</div>
            <div class="right">
              {{event.role}}
            </div>
          </div>
          <div class="data">
            <div class="left">Date</div>
            <div class="right">
              {{event.date }}
            </div>
          </div>
          <div class="data">
            <div class="left">Details</div>
            <div class="right">
              {{event.details}}
            </div>
          </div>
        </div>
    {% endfor %}
</div>

</div>
