<footer class="footer">
    <h1>Contact</h1>
    <div class="information">
        <div class="icons">
            <div class="icon">
                <a href="https://limos.fr">
                    <img class="limos" src="{{ 'assets/limos.png' | prepend: site.baseurl }}" alt="limos">
                </a>
            </div>
            <div class="icon">
                <a href="https://uca.fr">
                    <img class="uca" src="{{ 'assets/uca.png' | prepend: site.baseurl }}" alt="limos">
                </a>
            </div>
        </div>
        <div class="contact">
            <p class="mail">
                <i class="icon fa fa-envelope"></i>
                gael.marcadet@limos.fr
            </p>
            <p class="location">
                <i class="icon fa fa-map-marker"></i>
                Campus Universitaire des Cézeaux
                1 rue de la Chebarde
                TSA 60125
                CS 60026
                63178 AUBIERE CEDEX - FRANCE
            </p>
        </div>
    </div>
    
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ 'assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'assets/js/main.js' | prepend: site.baseurl }}"></script>
