<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-photo">
          <img src="{{ 'assets/photo.jpg' | prepend: site.baseurl }}" alt="Photo" class="photo">
        </span>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="LinkedIn" target="_blank" href="https://fr.linkedin.com/in/marcadet-gael"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/gamarcad"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Gitlab" target="_blank" href="https://gitlab.com/gamarcad"><i class="icon fa fa-gitlab" aria-hidden="true"></i></a>
        <a aria-label="Gitlab" target="_blank" href="https://acdc.com/"><i class="icon fa fa-bolt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
